body {
    font-family: Arial;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}
form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
}

